# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore build and dist folders for PyPI
/build/
/dist/

# Ignore compiled translation files
/locale/

# Ignore backup files
*.ui~
*.glade~
\#*.glade#

