[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GNOME App Folders Manager
Comment=Manage GNOME Shell applications folders
Comment[en]=Manage GNOME Shell applications folders
Comment[it]=Gestisci le cartelle delle applicazioni di GNOME Shell
Comment[de]=Anwendungsordner in der GNOME Shell-Übersicht organisieren
Comment[pl]=Zarządzanie aplikacjami GNOME-Shell
Comment[hu]=GNOME alkalmazásmappák kezelése
Terminal=false
Categories=Utilities;GTK;
Icon=gnome-appfolders-manager
TryExec=gnome-appfolders-manager
Exec=gnome-appfolders-manager
